<div class="col-md-12">
	<table class="table table-striped" style="border: 1px solid #999;">
		<tr>
			<th>Location Id</th>
			<th>Location Name</th>
			<td></td>
		</tr>
		<tr ng-repeat="location in locations">
			<td>{{location.locationId}}</td>
			<td>{{location.locationName}}</td>
			<td><button class="btn btn-default" ng-click="loadLocation(location)">Edit</button>&nbsp;<button class="btn btn-danger btn-small" ng-click="removeLocation(location._id)">&times;</button></td>
		</tr>
		<tr>
			<td colspan="3"><button type="button" class="btn btn-success" ng-click="addLocation()"><i class="glyphicon glyphicon-plus"></i>&nbsp; Add Location</button></td>
		</tr>
	</table>
</div>